In [127]:
import pandas as pd
print(pd.__version__)

2.3.3

In [128]:
order_df = pd.read_csv("orders.csv").sample(10000)
order_df.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
2527083,55943,152088,prior,8,3,12,27.0
2637321,2030255,158771,prior,15,6,9,4.0
911438,2580190,54732,prior,7,1,13,8.0
1329421,473222,79876,prior,4,2,17,30.0
1171149,1900589,70393,prior,5,1,12,8.0

In [129]:
aisles_df = pd.read_csv("aisles.csv")
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [130]:
departments_df = pd.read_csv("departments.csv")
departments_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [131]:
order_products_df = pd.read_csv("order_products.csv").sample(10000)
order_products_df.head()

          order_id  product_id  add_to_cart_order  reordered
31762426   3350047         116                  9          1
1712015     180509        8518                  2          1
14302638   1509304       48220                  2          1
32135727   3389699       40571                 11          1
20785666   2192603        5025                 14          1

In [132]:
products_df = pd.read_csv("products.csv")
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [133]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\bharg\onedrive\desktop\data vidhya\sql for data engineering\venv\lib\site-packages (2.9.10)

In [134]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\bharg\onedrive\desktop\data vidhya\sql for data engineering\venv\lib\site-packages (2.9.10)

In [135]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\bharg\onedrive\desktop\data vidhya\sql for data engineering\venv\lib\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\bharg\onedrive\desktop\data vidhya\sql for data engineering\venv\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\bharg\onedrive\desktop\data vidhya\sql for data engineering\venv\lib\site-packages (from sqlalchemy) (4.15.0)

In [136]:
import psycopg2
from sqlalchemy import create_engine

In [137]:
#connection:
try:
    conn = psycopg2.connect(dbname="ecom_analysis",user='postgres', password='Fall@2025',port='5432')
except:
    print("connection was unsuccessful")

In [138]:
# Cursor is generally used to exceute queries on sql engine. We are creating object using cursor class.
cur = conn.cursor()

In [150]:
conn.rollback()

# Used SQL alchemy engine to bulk insert the data at one-go instead of using for loop for data insertion.

In [151]:
engine = create_engine('postgresql+psycopg2://postgres:Fall%402025@localhost/ecom_analysis')

In [152]:
cur.execute("""
CREATE TABLE aisles (
    aisle_id INTEGER PRIMARY KEY,
    aisle VARCHAR
)
""")

In [153]:
cur.execute("""
CREATE TABLE departments (
    department_id INTEGER PRIMARY KEY,
    department VARCHAR(255)
)
""")

In [154]:
cur.execute("""
CREATE TABLE products (
    product_id INTEGER PRIMARY KEY,
    product_name VARCHAR(255),
    aisle_id INTEGER,
    department_id INTEGER,
    FOREIGN KEY (aisle_id) REFERENCES aisles (aisle_id),
    FOREIGN KEY (department_id) REFERENCES departments (department_id)
)
""")

In [155]:
cur.execute("""
CREATE TABLE orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    order_number INTEGER,
    order_dow INTEGER,
    order_hour_of_day INTEGER,
    days_since_prior_order INTEGER )
""")

In [156]:
cur.execute("""
CREATE TABLE order_products (
    order_id INTEGER,
    product_id INTEGER,
    add_to_cart_order INTEGER,
    reordered INTEGER,
    PRIMARY KEY (order_id, product_id)
    )
""")

In [157]:
# Only after running the commit function, the tables are created in postgresql.

conn.commit()

In [158]:
# inplace = True means that the changes are made permanently on the dataframe, axis=1 means that the column is being dropped. 

order_df.drop('eval_set', inplace = True, axis =1)

In [159]:
order_df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
2527083,55943,152088,8,3,12,27.0
2637321,2030255,158771,15,6,9,4.0
911438,2580190,54732,7,1,13,8.0
1329421,473222,79876,4,2,17,30.0
1171149,1900589,70393,5,1,12,8.0

In [160]:
### index=False, if there is any index in the dataframe, it does not append the index on the table 'aisles'.

aisles_df.to_sql('aisles', con=engine, if_exists='append', index=False)

134

In [161]:
departments_df.to_sql('departments', con=engine, if_exists='append', index=False)

21

In [162]:
products_df.to_sql('products', con=engine, if_exists='append', index=False)

688

In [163]:
order_df.to_sql('orders', con=engine, if_exists='append', index=False)

1000

In [164]:
order_products_df.to_sql('order_products', con=engine, if_exists='append', index=False)

1000